@import url(./../fonts.css);
@import url(./../footer.css);
@import url(./../header.css);
@import url(./infos.css);

body{
    background-color: white;
    overflow-x:hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

button{
    cursor: pointer;
}