footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: right;
    align-items: baseline;
    padding-right: 5%;
}
footer button{
    border: 0;
    background-color: transparent;
    margin: 0.3%;    
}
footer i{
    font-size: 3vw;
    color: #353535;    

    transition: all 0.5s ease-out;
}
.btn_footer i:hover{
    font-size: 4vw;
}

@media (max-width: 425px) {
    footer{
        justify-content: center;
    }
    footer i{
        font-size: 10vw;
    }
    .btn_footer i:hover{
        font-size: 11vw;
    }
}