/*Configuração das divisoes do cabeçalho*/
header {
    height: 13%;
    display: flex;
    justify-content: space-between;
}
header div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 1%;
}

/* Configuração da logo*/
#img_logo {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
}

/*Configuração do profissão*/
#proficao {
    font-family: 'fontP';
    font-size: 1.6vw;
}

/*Configuração dos botões*/
#btns_header{
    justify-content: end;
}
.btn {
    width: 26%;
    height: 40%;
    border: none;
    border-radius: 100vw;
    margin: 0 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
}
.btn h4,
.btn i {
    font-size: 1.2vw;
    margin: 0 5%;
    color: white;

    transition: all 0.5s ease-out;
}
.btn h4 {
    font-family: 'fontP';
}
.btn:hover i{
    font-size: 1.3vw;
}
.btn:hover h4{
    font-size: 1.3vw;
}
#btn_home {
    background-color: #f14598;
}

#btn_formacao {
    background-color: #26b2da;
}

#btn_projetos {
    background-color: #f2ba57;
}

@media (max-width: 425px) {
    header{
        height: 25%;
        align-items: flex-start;
        z-index: -1;
    }
    #logo_profissao{
        width: 70%;
        height: auto;
    }
    #btns_header{
        width: 20%;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }
    .btn{
        width: 70%;
        height: 30%;
        justify-content: center;
    }
    .btn i{
        font-size: 5vw;
    }
    .btn:hover i{
        font-size: 6vw;
    }
    .btn h4{
        display: none;
    }
    #img_logo{
        width: 30%;
    }
    #proficao{
        font-size: 6vw;
    }
}