/*Configuração das divisoes do cabeçalho*/
header {
    height: 15%;
    display: flex;
    justify-content: space-between;
}
header div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 1%;
}

/* Configuração da logo*/
#img_logo {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
}

/*Configuração do profissão*/
#profissao {
    font-family: 'fontP';
    font-size: 1.6vw;
}

/*Configuração dos botões*/
#btns_header{
    justify-content: end;
}
#menu{
    display: none;
}
.btn {
    width: 26%;
    height: 40%;
    border-radius: 100vw;
       
    margin: 0 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
    border: none; 
}
.btn h4,
.btn i {
    font-size: 1.2vw;
    margin: 0 5%;
    color: white;

    transition: all 0.5s ease-out;
}
.btn h4 {
    font-family: 'fontP';
}
.btn:hover h4{
    font-size: 1.3vw;
}
#btn_home {
    background-color: #f14598;
}

#btn_formacao {
    background-color: #26b2da;
}

#btn_projetos {
    background-color: #f2ba57;
}

@media (max-width: 425px) {
    header{
        height: 28%;
        align-items: flex-start;
    }
    #menu{
        width: 90%;
        height: 25%;
        display: flex;
        background-color: transparent;
        border: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #menu div{
        position: relative;
        width: 70%;
        height: 10%;
        background-color: #353533;
        border-radius: 50px;
        margin: 5%;

        transition: all 0.2s ease-in-out;
    }
    #logo_profissao{
        width: 80%;
        height: auto;
    }
    #img_logo{
        width: 20%;
        margin: 0 4%;
    }
    #profissao{
        font-size: 5vw;
    }

    #btns_header{
        width: 15%;
        flex-direction: column;
        justify-content: space-around;
    }
    .btn{
        width: 85%;
        height: 25%;
        justify-content: center;
        position: relative;
        right: -20vw;
        margin: 5%;

        transition: all 0.2s ease-in-out;
    }
    .btn h4{
        display: none;
    }
    .btn i{
        font-size: 5vw;
    }
    .btn:hover i{
        font-size: 6vw;
    }
}