@import url("header.css");
@import url("section.css");
@import url("footer.css");

@font-face {
    font-family: 'fontP';
    src: url(/assets/fonts/font_principal.ttf);
}
@font-face {
    font-family: 'fontS';
    src: url(/assets/fonts/font_secundaria.ttf);
}

body{
    background-color: white;
    overflow:hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 425px) {
    body{
        overflow: auto;
    }
}