@import url("header.css");
@import url("fonts.css");
@import url("banner.css");
@import url("lista_cards.css");
@import url("habilits.css");
@import url("footer.css");

body{
    background-color: white;
    margin: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

@media (max-width: 425px) {
    body{
        overflow: auto;
    }
}