/* Configuração da imagem principal */
#img_principal {
    width: 110%;
    position: absolute;
    z-index: -1;
    top: -30%;
    left: -15%;
    overflow: hidden;
}

/* Configuração dos textos */
section{
    font-family: 'fontS';
    color: #353535;
    overflow: hidden;
    position: relative;
    height: 100%;
}

#nome {
    position: absolute;
    font-size: 10vw;
    right: 18%;
    top: -10%;
}

#sobrenome {
    position: absolute;
    font-size: 6vw;    
    right: 18%;
    top: 16%;
}

#sobre_mim {
    width: 25%;
    text-align: right;
    font-family: 'fontP';
    font-size: 1.5vw;
    position: absolute;
    right: 18%;
    top: 38%;
}

@media (max-width: 425px) {
    body{
        overflow: hidden;
    }
    #img_principal {
        width: 260%;
        left: -75%;
        top: 10%;
    }
    #nome {
        font-size: 28vw;
        top: 0;
        left: 5%;
    }
    #sobrenome {
        font-size: 14vw;
        top: 22%;
        left: 5%;
    }

    #sobre_mim {
        width: 90%;
        font-size: 5vw;
        right: 5%;
        top: 70%;
    }
}