<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Oliveira</title>
    <link rel="stylesheet" href="./../css/formacao/formacao.css">
    <link rel="stylesheet" href="./../css/header.css">
    <script type="module" src="./../../controller/formacao/formacao.js" defer></script>
</head>
<body>
    <div id="tela" class="tela">
        <div id="conteudo" class="conteudo">
            <div id="cabecalho" class="cabecalho">
                <div id="botao-redondo" class="botao-redondo">
                    <span id="icone-botao-redondo">🥵</span>
                </div>
                <div id="logo" class="logo">dev sistemas</div>
                <nav id="menu" class="menu">
                    <a id="botao1" href="./formacao.html" class="item-menu">sou</a>
                    <a id="botao2" href="./projetos.html" class="item-menu">muito</a>
                    <a id="botao3" href="." class="item-menu">bom</a>
                </nav>
            </div>
    <section id="cartoes">
    </section>
    <section id="telaCadastro">
        <div id="inputs_cad">
            <input id="nome" type="text" placeholder="nome">
            <input id="valor" type="text" placeholder="valor">
            <input id="link" type="text" placeholder="link da imagem">
            <div id="buttons_telacad">
                <button onclick="recolheDados()">SALVAR</button>
                <button onclick="escodeTelaCad()">CANCELAR</button>
            </div>
        </div>
    </section>
    <section id="telaAtt">
        <div id="inputs_att">
            <input id="nomeAtt" type="text" placeholder="nome">
            <input id="valorAtt" type="text" placeholder="valor">
            <input id="linkAtt" type="text" placeholder="link da imagem">
            <div id="buttons_telaatt">
                <button onclick="recolheDadosAtt()">SALVAR</button>
                <button onclick="escodeTelaAtt()">CANCELAR</button>
            </div>
        </div>
    </section>
</body>
</html>