@import url("../header.css");
@import url("../footer.css");
@import url("../fonts.css");

@import url("./infos.css");

body{
    background-color: white;
    overflow-x:hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 425px) {
    body{
        overflow: auto;
    }
}