
#banners {
    margin-top: 5vh;
    width: 400vw;
    height: 40vh;

    position: absolute;
    left: -000vw;

    display: flex;
    flex-direction: row;

    transition: all 0.3s ease-in-out;
}

.banner {
    width: 90vw;
    height: 40vh;
    margin: 0 5vw;

    color: white;
    font-family: 'fontS';

    padding: 2vw;
}

.banner h1{
    font-size: 4vw;
}
.banner p{
    font-size: 1.5vw;
}

#btns_banners {
    height: 5vh;

    position: absolute;
    left: 45vw;
    top: 52vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn_banner {
    width: 3vh;
    height: 3vh;
    margin: 2vh;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.btn_banner:hover{
    width: 3.5vh;
    height: 3.5vh;
    margin: 1.75vh;
}

#banner_um {
    background-color: #f14598;
}

#banner_dois {
    background-color: #26b2da;
}

#banner_tres {
    background-color: #f2ba57;
}

#banner_quatro {
    background-color: rgb(35, 35, 35);
}