#icon_menu{
    width: 10vh;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    left: 45vw;
    top: 60vh;

    cursor: pointer;
}

#icon_menu div{
    width: 5vh;
    height: 1vh;

    background-color: rgb(35, 35, 35);

    border-radius: 5vw;

    transition: all 0.3s ease-in-out;

    position: absolute;
}

#cima   {
    top: 1.5vw;
}
#baixo{
    bottom: 1.5vw;
}

/*Daqui para baixo é o menu e para cima é o icone*/
#menu{
    width: 100vw;
    height: 20vh;

    position: absolute;
    top: 65vh;
    left: -100vw;
    z-index: -1;

    background-color: red;
    transition: all 0.3s ease-in-out;
}